html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  font-size: 16px;
  line-height: 2.8;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: #5c5c5c;
  color: #fff;
}

.btn {
  text-align: center;
  padding-top: 200px;
}

.text {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.toggle__btn {
  padding: 5px 50px;
  border-radius: 30px;
  background-color: rgb(19, 140, 221);
  margin-right: 10px;
}
